@import "mixins";
@import "variables";
@import "media-queries";
@import "typography";
@import "../icons/lawyers-icons";

// HEADER

body {
  color: #ede8e4;
  background-color: #564c42;
}

header.navbar {
  margin: 0;
  background-color: #453f39;
  border-radius: 0;
  @media #{$media-small}, #{$media-medium}, #{$media-large} {
    min-height: 0;
    background: #36322f url(/assets/img/bg-header.jpg) no-repeat center top;
    background-size: auto 211px;
    border: 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  }
  @media #{$media-medium}, #{$media-large} {
    background-image: url(/assets/img/bg-header2.jpg);
    background-size: auto;
  }
  @media #{$media-large} {

  }
  .container {
    position: relative;
    margin: 10px auto;
    height: 177px;
    @media #{$media-small} {
      width: 100%;
    }
    @media #{$media-small}, #{$media-medium}, #{$media-large} {
      height: 256px;
      margin-bottom: 0;
    }
    @media #{$media-medium}, #{$media-large} {
      height: 376px;
      margin: 10px auto 0;
    }
  }
  .navbar-header {
    padding: 0 15px;
    @media #{$media-extra-small}, #{$media-small}, #{$media-medium}, #{$media-large} {
      float: none;
    }
    @media #{$media-small}, #{$media-medium}, #{$media-large} {
      padding: 0;
    }
    .navbar-toggle {
      position: absolute;
      top: 125px;
      margin: 0;
      padding: 10px 13px;
      background-color: #d5b469;
      border: 1px solid #86796d;
      box-shadow: 0 4px 3px rgba(0,0,0,0.2);
      @media #{$media-extra-small}, #{$media-small}, #{$media-medium}, #{$media-large} {
        top: 135px;
      }
      .icon-bar {
        width: 14px;
        height: 3px;
        margin-top: 2px;
        background-color: #3d3126;
      }
      .icon-bar + .icon-bar {
        margin-top: 2px;
      }
      .navbar-toggle-title {
        float: right;
        margin-left: 33px;
        line-height: 1;
        font-family: $fontTahoma;
        font-size: 18px;
        color: #3d3126;
      }
    }
    .navbar-brand {
      margin: 4px 0 0 0;
      padding: 0;
      @media #{$media-extra-small}, #{$media-small}, #{$media-medium}, #{$media-large} {
        margin-left: 10px;
      }
      @media #{$media-small} {
        margin: 14px 0 0 26px;
      }
      @media #{$media-medium}, #{$media-large} {
        margin: 15px 0 0 0;
      }
      img {
        width: 80px;
        @media #{$media-extra-small}, #{$media-small} {
          width: 104px;
        }
        @media #{$media-medium}, #{$media-large} {
          width: 123px;
        }
      }
    }
    .navbar-title {
      float: right;
      margin: 0 0 10px 0;
      text-align: right;
      font-family: $fontPTSans;
      font-size: 20px;
      line-height: 1.2;
      color: #d5b977;
      @media #{$media-extra-small}, #{$media-small}, #{$media-medium}, #{$media-large} {
        margin-top: 2px;
        font-size: 36px;
      }
      @media #{$media-small} {
        margin-bottom: 12px;
      }
      @media #{$media-medium}, #{$media-large} {
        margin: 20px 0;
        font-size: 48px;
      }
    }
    .navbar-address {
      float: right;
      clear: right;
      margin: 0 0 10px 0;
      font-family: $fontTahoma;
      font-size: 10px;
      color: #e3e3e3;
      letter-spacing: -1px;
      @media #{$media-extra-small}, #{$media-small}, #{$media-medium}, #{$media-large} {
        font-size: 16px;
      }
    }
    .navbar-langselector {
      position: absolute;
      right: 15px;
      top: 125px;
      margin: 0;
      padding: 0;
      font-family: $fontPTSans;
      font-size: 18px;
      @media #{$media-extra-small} {
        top: 135px;
      }
      @media #{$media-small} {
        top: 140px;
      }
      @media #{$media-medium}, #{$media-large} {
        top: 250px;
      }
      li {
        display: inline-block;
        margin: 0 0 0 8px;
        padding: 10px 15px;
        font-weight: bold;
        text-align: center;
        line-height: 1;
        background-color: #3d3126;
        border: 1px solid #86796d;
        border-radius: 5px;
        box-shadow: 0 4px 3px rgba(0,0,0,0.2);
        @media #{$media-small}, #{$media-medium}, #{$media-large} {
          padding-left: 20px;
          margin: 0;
          background-color: transparent;
          border: 0;
          box-shadow: none;
          border-radius: 0;
          border-left: 1px solid #fff;
          &:first-child {
            border-left: 0;
          }
        }
        &.selected {
          a {
            color: #fff;
          }
        }
        a {
          color: #d5b977;
        }
      }
    }
    .navbar-slogan {
      display: none;
      position: absolute;
      left: 15px;
      top: 145px;
      font-size: 16px;
      letter-spacing: -0.4px;
      line-height: 1.2;
      font-style: italic;
      color: #fffefe;
      @media #{$media-small}, #{$media-medium}, #{$media-large} {
        display: block;
      }
      @media #{$media-medium}, #{$media-large} {
        top: 210px;
        width: 500px;
        line-height: 1.5;
        font-size: 20px;
        br {
          display: none;
        }
      }
    }
  }
  #navbar {
    @media #{$media-small}, #{$media-medium}, #{$media-large} {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0;
    }
    .nav {
      @media #{$media-small}, #{$media-medium}, #{$media-large} {
        display: table;
        width: 100%;
        height: 55px;
        font-size: 24px;
        font-family: $fontPTSans;
        background-color: #dfc382;
        background: linear-gradient(to bottom,  #dfc382 0%, #d1b062 100%);
        border-bottom: 4px solid #ba9742;
        @media #{$media-medium}, #{$media-large} {
          display: block;
          padding-top: 7px;
          text-align: center;
        }
      }
      li {
        @media #{$media-small}, #{$media-medium}, #{$media-large} {
          float: none;
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          &:first-child a {
            border-left: 0;
          }
          &:last-child a {
            border-right: 0;
          }
        }
        @media #{$media-medium}, #{$media-large} {
          display: inline-block;
        }
        a {
          color: #453f38;
          text-shadow: 0 1px 0 #f2f2f2;
          &:hover,
          &:focus {
            color: #000;
            background-color: transparent;
          }
          @media #{$media-small}, #{$media-medium}, #{$media-large} {
            display: block;
            padding: 5px 0;
            border-left: 1px solid #f4e6c6;
            border-right: 1px solid #574c42;
          }
          @media #{$media-medium} {
            padding: 5px 35px;
          }
          @media #{$media-large} {
            padding: 5px 55px;
          }
        }
      }
    }
  }
}



// CONTENT SECTIONS

section {
  width: 100%;
  padding: 10px 15px;
  h2 {
    margin: 0;
    text-align: center;
    font-family: $fontPTSans;
    font-size: 30px;
    @media #{$media-small}, #{$media-medium}, #{$media-large} {
      font-size: 42px;
    }
  }
}

#section-common-info {
  padding-left: 0;
  padding-right: 0;
  color: #ede8e4;
  background-color: #574c42;
  @media #{$media-small} {
    padding-top: 12px;
  }
  @media #{$media-medium}, #{$media-large} {
    padding-top: 30px;
  }
  .photo-wrapper {
    border: 11px solid #453f39;
    @media #{$media-extra-small}, #{$media-small}, #{$media-medium}, #{$media-large} {
      margin: 0 auto;
      width: 375px;
    }
    @media #{$media-medium}, #{$media-large} {
      width: 100%;
      margin: 0;
    }
    img {
      width: 100%;
      border: 1px solid #c5ae7a;
      box-shadow: 0 0 1px #c5ae7a;
    }
  }
  h3 {
    display: block;
    margin: 0;
    padding: 15px 0 25px;
    text-align: center;
    font-size: 22px;
    text-shadow: 0 2px 1px #453f39;
    border-bottom: 1px solid #d5b977;
  }
  .contacts-list {
    margin: 0;
    padding: 20px 0;
    font-size: 22px;
    color: #d5b977;
    @media #{$media-small}, #{$media-medium}, #{$media-large} {
      padding-bottom: 10px;
    }
    li {
      display: block;
      margin: 0 0 10px;
      padding: 0;
      i {
        margin-right: 30px;
        vertical-align: middle;
        color: #d5b977;
      }
      a {
        color: #ede8e4;
      }
    }
  }
  .info {
    padding-bottom: 30px;
    font-family: $fontTahoma;
    font-size: 16px;
    p {
      margin: 0;
      line-height: 1.3;
      @media #{$media-small}, #{$media-medium}, #{$media-large} {
        line-height: 1.5;
      }
    }
  }
}

// Секция: Почему мы

#section-why-we {
  padding-top: 0;
  padding-bottom: 0;
  color: #242424;
  background-color: #f0ebe7;
  .container {
    @media #{$media-medium}, #{$media-large} {
      padding-bottom: 20px;
      background: url(/assets/img/bg-section2.jpg) no-repeat center top;
      background-size: auto 100%;
    }
  }
  h2 {
    margin: 20px 0 30px;
    color: #574c42;
    @media #{$media-small}, #{$media-medium}, #{$media-large} {
      margin: 15px 0 22px;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      position: relative;
      margin: 0;
      padding: 0 0 15px 60px;
      text-align: justify;
      line-height: 1.3;
      font-family: $fontTahoma;
      font-size: 16px;
      i {
        position: absolute;
        top: 3px;
        left: 5px;
        font-size: 31px;
        color: #574c42;
      }
    }
  }
}

// Секция: Все виды правовой помощи

#section-help-types {
  background-color: #3d3126;
  h2 {
    margin: 20px 0 30px;
    color: #ede8e4;
    @media #{$media-small}, #{$media-medium}, #{$media-large} {
      margin-bottom: 40px;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: $fontTahoma;
    font-size: 16px;
    color: #f0ebe7;
    @media #{$media-large} {
      display: block;
      overflow: hidden;
      text-align: center;
    }
    li {
      position: relative;
      display: block;
      margin: 0;
      padding: 12px 0 17px;
      text-align: center;
      @media #{$media-small}, #{$media-medium} {
        height: 180px;
        margin-bottom: 20px;
        padding: 15px 0 15px 50%;
        text-align: center;
        color: #242424;
        background-color: #d1af60;
        background: linear-gradient(to bottom,  #d1af60 0%,#dfc381 100%);
        p {
          margin: 0 15px;
        }
      }
      @media #{$media-large} {
        float: left;
        width: 30%;
        margin: 0 1% 30px;
        padding: 0;
        font-size: 15px;
        background-color: #d1af60;
      }
      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 1px;
        right: 1px;
        height: 6px;
        border: 1px solid #cda035;
        background: #ddc17d;
        background: linear-gradient(to bottom,  #ddc17d 0%,#d6b66a 100%);
        @media #{$media-small}, #{$media-medium} {
          left: 50%;
          right: 0;
          top: 0;
          bottom: 0;
          height: auto;
          background: transparent none;
          border: 1px solid #cda035;
        }
        @media #{$media-large} {
          display: none;
        }
      }
      &:after {
        content: "";
        position: absolute;
        bottom: -17px;
        left: 0;
        right: 0;
        height: 15px;
        background: linear-gradient(to bottom, #281f16 0%, #3d3126 100%);
        @media #{$media-small} {
          left: 50%;
          bottom: -15px;
        }
        @media #{$media-large} {
          display: none;
        }
      }

      .img {
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left top;
        @media #{$media-small}, #{$media-medium} {
          position: absolute;
          left: 0;
          right: 50%;
          top: 0;
          bottom: 0;
          overflow: hidden;
        }
        @media #{$media-large} {
          width: 100%;
          height: 180px;
        }
      }

      &.help-type-item1 .img { background-image: url(/assets/img/help-type-photo1.jpg) }
      &.help-type-item2 .img { background-image: url(/assets/img/help-type-photo2.jpg) }
      &.help-type-item3 .img { background-image: url(/assets/img/help-type-photo3.jpg) }
      &.help-type-item4 .img { background-image: url(/assets/img/help-type-photo4.jpg) }
      &.help-type-item5 .img { background-image: url(/assets/img/help-type-photo5.jpg) }
      &.help-type-item6 .img { background-image: url(/assets/img/help-type-photo6.jpg) }
      &.help-type-item7 .img { background-image: url(/assets/img/help-type-photo7.jpg) }
      &.help-type-item8 .img { background-image: url(/assets/img/help-type-photo8.jpg) }
      &.help-type-item9 .img { background-image: url(/assets/img/help-type-photo9.jpg) }

      .content-wrapper {
        @media #{$media-large} {
          height: 135px;
          padding: 10px;
          color: #242424;
          background: #dfc382;
          background: linear-gradient(to bottom,  #dfc382 0%, #d2af60 100%);
          border: 1px solid #cda035;
        }
      }
    }
    p {
      margin: 0;
      padding: 0;
    }
  }
}

// Секция: Защита и представительство в судах

#section-protection {
  color: #ede8e4;
  background-color: #3d3126;
  h2 {
    margin: 10px 0 40px;
    font-size: 24px;
    @media #{$media-small}, #{$media-medium}, #{$media-large} {
      font-size: 30px;
      margin-bottom: 30px;
    }
    @media #{$media-large} {
      margin-bottom: 50px;
      letter-spacing: -1px;
    }
    br {
      display: none;
      @media #{$media-large} {
        display: inline;
      }
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    li {
      position: relative;
      min-height: 75px;
      margin: 0;
      padding: 0 0 15px 95px;
      text-align: justify;
      line-height: 1.3;
      font-family: $fontTahoma;
      font-size: 16px;
      @media #{$media-small}, #{$media-medium}, #{$media-large} {
        float: left;
        width: 50%;
        min-height: 250px;
        padding: 0;
        text-align: center;
      }
      @media #{$media-large} {
        width: 25%;
        margin-bottom: 30px;
        padding: 0 10px;
        line-height: 1.4;
      }
      i {
        position: absolute;
        top: 2px;
        left: 10px;
        font-size: 53px;
        color: #d9bb73;
        @media #{$media-small}, #{$media-medium}, #{$media-large} {
          position: static;
          display: block;
          margin-bottom: 25px;
        }
      }
    }
  }
}

// Секция: Наши услуги, по отраслям права

#section-services-by-types {
  padding-left: 0;
  padding-right: 0;
  color: #242424;
  background-color: #ede8e4;
  h2 {
    margin: 15px 15px 25px;
    color: #574c42;
    font-size: 30px;
    @media #{$media-small}, #{$media-medium}, #{$media-large} {
      margin: 5px 15px 20px;
      font-size: 42px;
    }
    @media #{$media-large} {
      margin: 30px 0;
      font-size: 48px;
    }
  }
  .panel-group {
    margin: 0;
    .panel {
      box-shadow: none;
      border: 0;
      border-radius: 0;
      .panel-heading {
        padding: 21px 15px;
        font-family: $fontPTSans;
        border-top: 4px solid #d2af61;
        border-radius: 0;
        background-color: #ede8e4;
      }
      .panel-title {
        font-size: 24px;
        color: #574c42;
        a {
          display: block;
          &:focus {
            text-decoration: none;
          }
          &:hover {
            text-decoration: none;
            color: #000;
          }
          .fa {
            display: block;
          }
          .fa.collapsed {
            display: none;
          }
          &.collapsed {
            .fa {
              display: none;
            }
            .fa.collapsed {
              display: block;
            }
          }
        }
        .fa {
          float: right;
          margin-top: -8px;
          padding: 0 18px;
          text-align: center;
          font-size: 40px;
          color: #ede8e3;
          background-color: #d2af61;
          border-radius: 3px;
          border: 1px solid #ede8e4;
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
        }
      }
      .panel-body {
        border: 0;
      }
    }
    .panel + .panel {
      margin: 0;
    }
  }
}

// Секция: Контакты

#section-contacts {
  padding: 10px 0;
  color: #ede8e4;
  background-color: #574c42;
  h2 {
    margin: 10px 0 20px;
    color: #ede8e4;
    @media #{$media-large} {
      margin: 30px 0;
      font-size: 48px;
    }
  }
  form {
    font-family: $fontPTSans;
    h3 {
      margin-bottom: 15px;
      font-size: 26px;
      font-family: $fontPTSans;
      color: #ede8e4;
    }
    .form-group {
      margin-bottom: 20px;
      .control-label {
        margin-top: 6px;
        font-weight: normal;
        font-size: 16px;
        @media #{$media-small}, #{$media-medium}, #{$media-large} {
          margin-top: 0;
          text-align: left;
        }
      }
      .form-control {
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #ede8e4;
        @media #{$media-small} {
          border-color: #000;
        }
      }
      .form-control[type="text"] {
        height: 40px;
      }
      &.form-group-message {
        margin-top: -10px;
        .control-label {
          margin-bottom: 15px;
        }
      }
    }
    .form-buttons {
      text-align: center;
      .btn {
        padding: 8px 35px;
        color: #d5b977;
        font-size: 18px;
        font-family: $fontTahoma;
        letter-spacing: -1px;
        background-color: #3d3126;
        border-color: #86796d;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
      }
    }
  }
  .col-contact-info {
    color: #ede8e4;
    font-size: 16px;
    font-family: $fontTahoma;
    h3 {
      margin: 25px 0 15px;
      font-family: $fontPTSans;
      font-size: 22px;
      @media #{$media-small}, #{$media-medium}, #{$media-large} {
        display: block;
        margin-top: 30px;
        font-size: 27px;
        text-align: center;
      }
    }
    a {
      color: #ede8e4;
    }
    .contacts-list-wrapper {
      display: flex;
      flex-direction: column;
      @media #{$media-small}, #{$media-medium}, #{$media-large} {
        margin-bottom: 40px;
      }
      .contacts-list {
        margin: 0 auto;
        padding: 0;
        list-style: none;
        li {
          margin-bottom: 20px;
          line-height: 20px;
          font-size: 12px;
          @media #{$media-small}, #{$media-medium}, #{$media-large} {
            font-size: 16px;
          }
          &:last-child {
            margin-bottom: 0;
          }
          i {
            margin-right: 30px;
            font-size: 20px;
            color: #d5b977;
            vertical-align: middle;
          }
        }
      }
    }
    .footer {
      margin: 30px 0 50px;
      text-align: center;
    }
  }
}

#section-message-sent {
  min-height: 300px;
  h2 {
    margin: 30px 0;
  }
  .container {
    text-align: center;
  }
  a {
    color: #d5b977;
    text-decoration: underline;
    &:hover {
      color: #fff;
    }
  }
}
